<div class="bgimg">

<table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">name</th>
        <th scope="col">start</th>
        <th scope="col">end</th>
        <th scope="col">description</th>
        <th scope="col">car_id</th>
        <th>Options 
            <button class="button" id="add" (click)="addStore()">+</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of trip">
        <th scope="row">{{item.name}}</th>
        <td>{{item.start}}</td>
        <td>{{item.end}}</td>
        <td>{{item.description}}</td>
        <td>{{item.car_id}}</td>
        <td>
            <button class="button" id="edit" (click)="editClicked(item.id)">Edit</button>
            <button class="button" id="delete" (click)="deleteClicked(item.id)">Delete</button>
        </td>

      </tr>
    
    </tbody>
  </table>
</div>