<div class="container" >
    <form [formGroup]="productForm" (ngSubmit)="onClickFinish()" >
    <div class="row">
        <div class="col-md-6">
            <label for="productName">productName</label>
            <input type="text" id="productName" name="productName" formControlName="productName" class="form-control" placeholder="Enter your productName"   >
        </div>
        <div class="col-md-6">
            <label for="productCode">productCode</label>
            <input type="text" id="productCode" name="productCode" formControlName="productCode" class="form-control" placeholder="Enter productCode" >
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="price">price</label>
            <input type="text" id="price" name="price" formControlName="price" class="form-control" placeholder="Enter your price">
        </div>
        <div class="col-md-6">
            <label for="description">description</label>
            <input type="text" id="description" name="description" formControlName="description" class="form-control" placeholder="Enter description" >
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <label for="releaseDate">releaseDate</label>
            <input type="text" id="releaseDate" name="releaseDate"formControlName="releaseDate" class="form-control" placeholder="Enter releaseDate" >
        </div>
        <div class="col-md-6">
            <label for="starRating">starRating</label>
            <input type="text" id="starRating" name="starRating"formControlName="starRating" class="form-control" placeholder="Enter starRating" >
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="imageUrl">imageUrl</label>
                <input type="text" id="imageUrl" name="imageUrl"formControlName="imageUrl" class="form-control" placeholder="Enter your imageUrl" >
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary"   type="submit" [disabled]="productForm.pristine || productForm.invalid">save</button>
            </div>
        </div>
    </div>
</form>
</div>