.square {
    margin-left: 20px;
    width: 100px;
    height: 100px;
    margin-top: 20px;
  }

 p{
    margin-left: 20px  ;
 }

  body {
    margin: 0;
    overflow: hidden;
    background-color: #f200f332;
  }

  .petal {
    width: 400px;
    height: 350px;
    background-color: #ff00f133;
    border-radius: 50%;
    position: absolute;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: 50% 100%;
  }

  .petal1 { animation-name: movePetal1; }
  .petal2 { animation-name: movePetal2; }
  .petal3 { animation-name: movePetal3; }

  @keyframes movePetal1 {
    0%, 100% {
      transform: rotate(0deg);
      /* top: 200px; */
      /* left: 200px; */
      right: 10px;
      bottom: 100px;
    }
    50% {
      transform: rotate(360deg);
      /* top: -200px; */
      /* right: 200px; */
    }
  }

  @keyframes movePetal2 {
    0%, 100% {
      transform: rotate(0deg);
      top: 50px;
        right: -50px;
    }
    50% {
      transform: rotate(90deg);
      top: 50px;
      /* left: 0; */
      right: -50px;
    }
  }

  @keyframes movePetal3 {
    0%, 100% {
      transform: rotate(0deg);
      top: -300px;
      /* left: 500px; */
      /* right: 1000px; */
    }
    50% {
      transform: rotate(180deg);
      top: 100;
      /* left: 100px;
      right: 50px; */
    }
  }

  .circle{
    width: 350px;
    height: 350px;
    background-color: #ff00f133;
    border-radius: 50%;
    position: absolute;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: 50% 100%;
  }

  .circle { animation-name: circle; }
  

  @keyframes circle {
    0%, 100% {
      transform: rotate(0deg);
      top: -200px;
      /* left: 200px; */
      /* right: 0px; */
      bottom: 10px;
    }
    50% {
      transform: rotate(360deg);
      left: -10px;
    }
  }