<div *ngIf="showSidebar ; else noSidebar">


  <header class="card costumeCard">
    <ul class="menu" >
      <li>
        <a >Menu color</a>
        <ul class="submenu">
          <li> <a (click)="changeTheme('light')">Light theme</a></li>
          <li><a (click)="changeTheme('dark')">Dark theme</a></li>
          <!-- <li><a href="">Submenu item</a></li>
          <li><a href="">Submenu item</a></li> -->
        </ul>     
      </li>
      <li><a href="home">Home</a></li>
      <li><a href="store">Store</a></li>
      <li><a href="products">Product</a></li>
      <li><a href="car">Cars</a></li>
      <li><a href="trip">Trip</a></li>
      <li><a href="invoice">Invoice</a></li>
      <li><a href="weather">Weather</a></li>
      <li>
        <a (click)="Logout()">Log out</a>
        </li>
    </ul>


    <!-- <div>
      <div class="d-flex  justidy-content-center">


        <div class="dropdown">
          <button class="dropbtn" class="card costumeCard">Dropdown</button>
          <div class="dropdown-content">
            <a (click)="changeTheme('light')">Light theme</a>
            <a (click)="changeTheme('dark')">Dark theme</a>

          </div>
        </div>



        <a href="home">Home</a>
        <a href="store">Store</a>
        <a href="products">Product</a>
        <a href="car">Cars</a>
        <a href="trip">Trip</a>
        <a href="invoice">Invoice</a>
        <a href="required">Required</a>

        <button class="card costumeCard"  (click)="Logout()">Log out</button>
      </div>
    </div> -->

  </header>



  <nav class="card costumeCard">
    <a href="home">Home</a>
    <a href="store">Store</a>
    <a href="products">Product</a>
    <a href="car">Cars</a>
    <a href="trip">Trip</a>
    <a href="invoice">Invoice</a>
    <a href="required">Required</a>
    <a href="weather">Weather</a>

  </nav>



  <div class="router">

    <router-outlet></router-outlet>

  </div>




</div>

<ng-template #noSidebar>

  <router-outlet></router-outlet>

</ng-template>