<div class="container" >
    <form [formGroup]="storeForm" (ngSubmit)="onClickFinish()">
    <div class="row">
        <div class="col-md-6">
            <label for="name" >Name</label>
  <input
  type="text"  minlength="4" id="name"  name="name" class="form-control" formControlName="name" placeholder="Enter your name" >
        </div>

        <div class="col-md-6">
            <label for="lng">lng</label>
            <input type="number" id="lng" name="lng" class="form-control" formControlName="lng" placeholder="Enter longitude" >
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <label for="lat">lat</label>
            <input type="number" id="lat" name="lat" class="form-control" formControlName="lat" placeholder="Enter latitude">
        </div>
        <div class="col-md-6">
            <label for="description">Description</label>
            <input type="text" id="description" name="description" class="form-control" formControlName="description" placeholder="Enter description">
        </div>
        <div>
        <button class="btn btn-primary"  type="submit"   [disabled]="storeForm.pristine || storeForm.invalid">save</button>
        </div>
    </div>
</form>
</div>
