<table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th >name</th>
        <th >code</th>
        <th>price</th>
        <th>description</th>
        <th>releaseDate</th>
        <th>starRating</th>
        <th>imageUrl</th>
        <th>options 
          <button class="button" id="edit" (click)="addProduct()">+</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of product">
        <td>{{item.productName}}</td>
        <td>{{item.productCode}}</td>
        <td>{{item.price}}</td>
        <td>{{item.description}}</td>
        <td>{{item.releaseDate}}</td>
        <td>{{item.starRating}}</td>
        <td>{{item.imageUrl}}</td>
        <td style="width: 150px;">
            <button class="button" id="edit" (click)="editClicked(item.id)">Edit</button>
            <button class="button" id="delete" (click)="deleteClicked(item.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>