<div class="container ">
    <div class="row">
        <div class="col-md-6">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Enter your name" [(ngModel)]="name">
        </div>
        <div class="col-md-6">
            <label for="start">start</label>
            <input type="text" id="start" name="start" class="form-control" placeholder="Enter longitude" [(ngModel)]="start">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <label for="end">end</label>
            <input type="text" id="end" name="end" class="form-control" placeholder="Enter latitude" [(ngModel)]="end">
        </div>
        <div class="col-md-6">
            <label for="description">Description</label>
            <input type="text" id="description" name="description" class="form-control" placeholder="Enter description" [(ngModel)]="description">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <label for="car_id">car_id</label>
            <input type="text" id="car_id" name="car_id" class="form-control" placeholder="Enter latitude" [(ngModel)]="car_id">
        </div>
        <div>
            <button class="btn btn-primary" (click)="onClickSave()">save</button>
        </div>
    </div>
 </div>

